<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="htmlgen"
            id="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator"
            name="HTMLGenerator Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.validate">
         <activeWhen>
            <reference
                    definitionId="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator"
            name="HTMLGenerator">
            <keywordReference id="de.tubs.bibtextohtml.htmlgenerator.ui.keyword_HTMLGenerator"/>
        </page>
        <page
            category="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator"
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.coloring"
            name="Syntax Coloring">
            <keywordReference id="de.tubs.bibtextohtml.htmlgenerator.ui.keyword_HTMLGenerator"/>
        </page>
        <page
            category="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator"
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.templates"
            name="Templates">
            <keywordReference id="de.tubs.bibtextohtml.htmlgenerator.ui.keyword_HTMLGenerator"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator"
            name="HTMLGenerator">
            <keywordReference id="de.tubs.bibtextohtml.htmlgenerator.ui.keyword_HTMLGenerator"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="de.tubs.bibtextohtml.htmlgenerator.ui.keyword_HTMLGenerator"
            label="HTMLGenerator"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="htmlgen">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="htmlgen">
        </resourceServiceProvider>
    </extension>


	<!-- marker definitions for de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator -->
	<extension
	        id="htmlgenerator.check.fast"
	        name="HTMLGenerator Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.fast"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="htmlgenerator.check.normal"
	        name="HTMLGenerator Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.normal"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="htmlgenerator.check.expensive"
	        name="HTMLGenerator Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.expensive"/>
	    <persistent value="true"/>
	</extension>

   <!-- <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
            fileExtensions="htmlgen"
            >
      </participant>
   </extension> -->
   
   
   <!--  custom context menu -->
   <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:de.tubs.bibtextohtml.htmlgenerator.ui.handler.GenerationHandler"
           commandId="de.tubs.bibtextohtml.htmlgenerator.ui.handler.GenerationCommand">
     </handler>
      
  </extension>
   
  <extension
        point="org.eclipse.ui.commands">
        <command name="Generate Code"
              id="de.tubs.bibtextohtml.htmlgenerator.ui.handler.GenerationCommand">
        </command>
  </extension>
   
   <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
        <command
            commandId="de.tubs.bibtextohtml.htmlgenerator.ui.handler.GenerationCommand"
            style="push">
            <visibleWhen
                  checkEnabled="false">
                  <iterate>
       <adapt type="org.eclipse.core.resources.IResource">
          <test property="org.eclipse.core.resources.name" 
                value="*.htmlgen"/>
       </adapt>
    </iterate>
            </visibleWhen>
        </command>
    </menuContribution>
    </extension>
    
 <!--   <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:#TextEditorContext?after=additions">
        <command
            commandId="de.tubs.bibtextohtml.htmlgenerator.ui.handler.GenerationCommand"
            style="push">
            <visibleWhen
                      checkEnabled="false">
                   <reference
                         definitionId="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.Editor.opened">
                   </reference>
                </visibleWhen>
        </command>
    </menuContribution>
</extension>-->
    <!--    /custom context menu  -->
    
    
    
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator"
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="de.tubs.bibtextohtml.htmlgenerator.ui.keyword_HTMLGenerator"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator"
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="de.tubs.bibtextohtml.htmlgenerator.ui.keyword_HTMLGenerator"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="de.tubs.bibtextohtml.htmlgenerator.ui.htmlgenerator.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="de.tubs.bibtextohtml.htmlgenerator.ui.htmlgenerator.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="de.tubs.bibtextohtml.htmlgenerator.ui.htmlgenerator.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator"
	        class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.refactoring"
	        name="Refactoring">
	        <keywordReference id="de.tubs.bibtextohtml.htmlgenerator.ui.keyword_HTMLGenerator"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.compare.contentViewers"
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="htmlgen">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.compare.contentMergeViewers"
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="htmlgen" label="HTMLGenerator Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="de.tubs.bibtextohtml.htmlgenerator.HTMLGenerator.editors.documentProviders"
            class="de.tubs.bibtextohtml.htmlgenerator.ui.HTMLGeneratorExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="htmlgen">
    </provider>
  </extension>

</plugin>
